:host button {
  appearance: none;
  color: white;
  border-radius: var(--border-radius);
  outline: 0;
  border: 0;
  padding: 9px 12px;
  background-repeat: no-repeat;
  background-position: 4px center;
  background-size: 19px;
}

:host button:hover {
  transition: background-color var(--transition-speed) ease;
}

.primary {
  background-color: var(--alpha-color);
}

.primary:hover {
  background-color: var(--grey-3);
}

.secondary {
  background-color: transparent;
}

.secondary:hover {
  background-color: var(--grey-3);
}